.container-p {
  height: 100vh;
}

.message{
  margin: auto;
  width: 50%;
}

.container-p h1 {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  padding-top: 20%;
}

.container-p p {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

.container-p .link {
  color: black;
  text-align: left;
}