.product-container {
  padding: 4.25rem .75rem 0;
  position: relative;
  display: grid;
  grid-template-columns: 55fr 45fr;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

.product-image {
  position: relative;
  width: 100%;
}

.product-info {
  font-family: "Yantramanav";
  position: relative;
  width: 100%;
}

.product-name {
  font-weight: 300;
}

.product-price {
  font-weight: 500;
  padding: .2rem 0 1rem;
}

.product-color {
  font-weight: 300;
  font-size: .875rem;
  padding: .8rem 0;
}

.product-solid {
  border-top: 1px solid black;
}

.product-sizes-container {
  font-weight: 300;
  font-size: .875rem;
  padding: .8rem 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.product-sizes-container li {
  list-style: none;
  padding: 0 .775rem;
}

.product-sizes-container li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.product-size-text {
  margin-right: auto;
}

.product-atc-btn {
  width: 100%;
  margin: 1.5rem 0;
  padding: .6rem 0;
  background-color: #f2f2f2;
  cursor: pointer;
  border: none;
  font-family: "Yantramanav";
  font-weight: 500;
  letter-spacing: .075rem;
}

@media screen and (max-width: 1020px){
  .product-container {
    padding: 4.25rem .75rem 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
  }
}

@media screen and (min-width: 1021px){
  .product-container {
    padding: 4.25rem .75rem 0;
    position: relative;
    display: grid;
    grid-template-columns: 55fr 45fr;
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
  }
}